{% include 'questionnaireQuestionnaireBundle:Layout:base.html.twig' %}

{% block body -%}
<div class="container">
 <div class="raw">
  <div class="col-md-8" style="color:#eb9316"> 
    <h1>Liste des participants</h1>
  </div>
  <div class="col-md-4 text-right" style="margin-top:10px;"> 
    
            <a class="btn btn-lg btn-success" href="{{ path('caller_new') }}">
                S'inscrire
            </a>

   </div>
  </div>
  <div class="raw">
   <div class="col-md-12">        
    <table class=" table table-responsive">
        <thead >
            <tr class="danger">
       
                <th>Name</th>
                <th>Adress</th>
                <th>Phone</th>
                <th>Mail</th>
                <th width="150">Choisir actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr class="info">
                
               <td><a  href="{{ path('caller_edit', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.adress }}</td>
                <td>{{ entity.phone }}</td>
                <td>{{ entity.mail }}</td>
                <td >
                <ul class=" list-inline">
                    
                    <li>
                        <a class="btn btn-primary" href="{{ path('caller_show', { 'id': entity.id }) }}">Faire un call</a>
                    </li>
                    
                    
                   {# <li>
                        <a class="btn btn-primary" href="{{ path('caller_edit', { 'id': entity.id }) }}">edit</a>
                    </li>#}
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  
       
   </div>
 </div>
 </div>
    {% endblock %}
